*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.wrapper{
  width: 170px;
  height: 140px;

  background-color: #DDDAB2;
}

.nameHeader{
  text-align: center;
  font-size: 1.8rem;
  color: #22577B;

  padding-top: 10px;
  margin-bottom: 5px;
}

.btnWrapper{
  width: 100%;
  padding: 15px;

  display: flex;
  justify-content: center;
}

.btnBlur{
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;

  background-color: #5f5383;
  border: none;
  border-radius: 20px;

  padding: 5px;
  font-size: 17px;
  width: 60px;
  height: 60px;
  box-shadow: 0 2px 4px #2c1868;

  transition: all .05s ease;
}

.btnBlur:active{
  background-color: #5f5383;
  box-shadow: 0 0 2px #2c1868;
  transform: translateY(2px);
}